.color-block-top {
  background: red;
  display: block;
  height: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.color-block-bottom {
  background: red;
  bottom: 0;
  display: block;
  height: 0;
  left: 0;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 9999;
}
