{{ include('base/header.twig') }}

<div class="color-block-top"></div>

<div class="color-block-bottom"></div>

<main class="wrapper w-4/6 my-0 mx-auto" data-barba="container">
    {% block content %}
    {# Content gets rendered here #}
    {% endblock %}
</main>

{{ include('base/footer.twig') }}