{% block footer %} 

    {{ site.wp_footer() }}

    <script type="text/javascript">

        const animationEnter = (container) => {
            gsap.to('.color-block-top', {height: "0", duration: 0.3})
            gsap.to('.color-block-bottom', {height: "0", duration: 0.3})
            return gsap.from(container, { autoAlpha: 0, duration: 0.5, clearProps: 'all', ease: 'none'});
            playSlider();
        }

        const animationLeave = (container) => {
            gsap.to('.color-block-top', {height: "50%", duration: 0.3})
            gsap.to('.color-block-bottom', {height: "50%", duration: 0.3})
            return gsap.to(container, { autoAlpha: 0, duration: 0.5, clearProps: 'all', ease: 'none'});
        }

    	barba.init({
		transitions: [
            {
                leave: ({current}) => animationLeave(current.container),
                enter({next}) {
                    animationEnter(next.container);
                }
        }
        ]
	});

    </script>

    </body>
</html>
{% endblock %}